*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.menu-principal{
    background-color: blue;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.menu-principal ul{
    list-style: none;
    display: flex;
   justify-content: center;
   align-items: center;
}
.menu-principal li {
    list-style: none;
    margin: 10px;
   align-items: center;
}

.menu-principal li a{
    color: white;
    text-decoration: none;
  
}
.inicio{
   
    width: auto;
    height: 500px;
    display: flex;
    
}


.conteudo-texto{
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    background-color: whitesmoke;
    width:50%;   
}
.imagem-inicio{
    background-color: brown;
    display: flex;


}

.sobre{
    width: 100%;
    background-color: blue;

    display: flex;
    flex-direction: column;
   
    
    
}

.sobre h1 {
    color: aliceblue;
    margin-top: 30px;
    align-self: center;    
}

.sobre p{
    color: aliceblue;
    align-self: end;  
    font-family: Helvetica,Arial, sans-serif;  
    text-align: center;
}
.sobre-img{ 
    width:50%;
   
}
.sobre-texto{
    background-color: black;
    flex: 2; 
    word-wrap: break-word; 
    max-width: 100%;
    box-sizing: border-box; 
    margin: 30px;
    display: flex;
    flex-direction: column;
   
}

.sobre-texto h2{
   color: #fff;
   display: flex;
   align-self: center;  
}
.sobre-tecnogia{
    display: flex;
   align-items: center;
   flex-direction: column;
    color: #fff; 
}
.tecnogia {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
}

.tecnogia a {
    flex: 0 0 calc(33.333% - 20px); 
    text-align: center;
}
.tecnogia a img {
    width: 80px; 
    height: auto;
    margin: 50px;
}
.tecnogia a {
    display: block;
    animation: balanco 3s infinite; 
    transition: transform 0.3s ease;
}

.tecnogia a:hover {
    animation:none;
    transform: scale(0.8); 
}

.sobre-curiosidade{
color: #fff;
display: flex;
justify-content: center;
text-align: center;
}
.curiosidade{
 text-align: center;
}
.curiosidade p{
    margin: 50px;
    
}
.sobre-conteudo{
    
    display: flex;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    max-width: 100%; 
    align-items: center; 
}

#contato{
    width: 100%;
    display:flex ;
    align-items: center;
    flex-direction: column;
}

#contato h1{
    margin: 50px;
}


#contato a{
    text-decoration: none;

}
.contato-redes{
    display: flex;
    flex-direction: row;
}
.contato-redes img {
    animation: balanco 3s infinite; 
    transition: transform 0.3s ease;
    
    flex-direction:column;
    
}

.contato-redes a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contato-redes a:hover {
    transform: scale(1.2) rotate(360deg);
    background-color: gray; 
  
}
.contato-redes img:hover {
    animation: none;
}

#contato h2{
    margin: 50px;

}


footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

@keyframes balanco {
   
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    75% {
        transform: rotate(3deg);
    }
   
}